<div class="content">
	<div class="page-content">
		<%= image_tag("line-break2.svg", :alt => "about me", :class => "line-break") %>
		<h1>Sitemap</h1>
		<div class="sitemap">
		<div class="line one"></div>
		<div class="line two"></div>
			<div class="welcome-top">
				<%= link_to("Welcome", "/welcome/index" ) %>
				<div class="circle"></div>
			</div>
			<div class="sitemap-left">
				<div class="circle"></div>
				<%= link_to("About Me", "/about" ) %>
			</div>
			<div class="sitemap-right">
				<div class="circle"></div>
				<%= link_to("Site Map", "/sitemap/index" ) %>
			</div>
		</div>
	</div>
</div>
