<div class="content">
	<div class="page-content">
	<h1>Pick any color to change the background color.</h1>
	<%= @backgroundcolor %>
		<form action="/background">
			<label for="">Set the background as Hex colors</label>
			<input type="text" id="color" name="color">
			<input type="submit" value="Set Background Color">
		</form>
	</div>
</div>