<div class="content">
	<div class="page-content">
	<%= @backgroundcolor %>
		<%= image_tag("line-break2.svg", :alt => "about me", :class => "line-break") %>
		<h1>Random Sentence</h1>
			<p><%= @output %></p>
	</div>
</div>
