<div class="content">
	<div class="page-content matchgame question">
	<h1 class="title">
		<span>M</span><span>a</span><span>t</span><span>c</span><span>h</span><span>G</span><span>a</span><span>m</span><span>e</span>
	</h1>
	<h3>Select where the card appeared on the board.</h3>
		<div class="board">
		<form action="/matchgame-question" method="POST">
			<input type="radio" name="choice" value="choice1" id="choice1">
			<label for="choice1">1</label>
			<input type="radio" name="choice" value="choice2" id="choice2">
			<label for="choice2">2</label>
			<input type="radio" name="choice" value="choice3" id="choice3">
			<label for="choice3">3</label>
			<input type="radio" name="choice" value="choice4" id="choice4">
			<label for="choice4">4</label>
			<input type="radio" name="choice" value="choice5" id="choice5">
			<label for="choice5">5</label>
			<input type="radio" name="choice" value="choice6" id="choice6">
			<label for="choice6">6</label>
			<input type="radio" name="choice" value="choice7" id="choice7">
			<label for="choice7">7</label>
			<input type="radio" name="choice" value="choice8" id="choice8">
			<label for="choice8">8</label>
			<input type="radio" name="choice" value="choice9" id="choice9">
			<label for="choice9">9</label>
		</form>
		</div>
		<div class="board-card">
			<div class="cards car"></div>
		</div>
		<a class="refreshpage" href="javascript:history.go(0)">Next Card &rarr;</a>
	</div>
</div>