<div class="content">
	<div class="page-content matchgame firstpage">
	<h3>Welcome to the</h3>
	<h1 class="title">
		<span>M</span><span>a</span><span>t</span><span>c</span><span>h</span><span>G</span><span>a</span><span>m</span><span>e</span>
	</h1>
	<p>Memorize the order of cards on this page. Click below to begin.</p>
	<a class="refreshpage firstpage" href="/matchgame">Let's Go! &rarr;</a>
	<div class="cards pig"></div>
	<div class="cards surfboard"></div>
	<div class="cards rain"></div>
	<div class="cards diamond"></div>
	<div class="cards car"></div>
	<div class="cards dog"></div>
	<div class="cards boat"></div>
	<div class="cards rainbow"></div>
	<div class="cards bigfoot"></div>
	</div>
</div>
