<div class="left-content">
	<figure>
		<img src="http://upload.wikimedia.org/wikipedia/en/a/ab/M_poster.jpg" alt="" class="welcomimage">
		<figcaption>This is my Description of an image</figcaption>
	</figure>
</div>
<div class="right-content">
	<h1>Hello, I'm Michael</h1>
	<p>Welcome to my site!</p>
	<blockquote>
		"Sometimes I'll start a sentence and I don't know where it's going. I just hope I find it along the way."
	</blockquote>
	<p>Email me at <a href="mailto:michael@michaelheard.com">michael@michaelheard.com</a></p>

</div>
<footer>
	<a href="/welcome/index">Welcome</a>
	<a href="/about/index">About Me</a>
	<a href="/sitemap/index">Site Map</a>
</footer>

