<img src="http://upload.wikimedia.org/wikipedia/en/a/ab/M_poster.jpg" alt="" align="left">
<div class="content">
	<h1>Hello Michael</h1>
	<p>You're the best!</p>
	<p>Email me at <a href="mailto:michael@michaelheard.com">michael@michaelheard.com</a></p>
</div>

