<div class="content">
	<div class="page-content">
	<%= image_tag("line-break2.svg", :alt => "about me", :class => "line-break") %>
		<% @image_data.each do |description,image_url_link| %>
			<a href="<%= image_url_link[1] %>" target="_blank">
			<%= image_tag(image_url_link[0]) %>
				<p><%= description %></p>
			</a>
		<% end %>
	</div>
</div>