/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

$dark-color: #171d25;
$site-blue: #00aeef;
$site-red: #e55346;
$site-red2: #c3333c;

/*----- Includes ----- */
@import "_reset";
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);

/*----- Beginning my styles -----*/
body {
	background-color: $dark-color;
	color: #ccc;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 100px;
	margin: 0 auto;
	width: 700px;
	font-size: 16px;
}
a:link,a:hover,a:active,a:visited {
	color: $site-blue;
	text-decoration: underline;
}
a:hover {
	color: $site-red;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	color: $site-blue;
}
blockquote {
	font-style: italic;
	font-family: cursive;
}
p {
	margin: 1em 0;
}
figure {

}
img {
	display: block;
	margin-right: 20px;
	border: 5px solid $site-red;
}
figcaption {
	text-align: left;
	padding-top: 5px;
	color: #ccc;
	font-style: italic;
}