/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 	*= require '_reset'
 	*= require_self
 	*= require_tree .
 */


$dark-color: #171d25;
$site-blue: #00aeef;
$site-red: #e55346;
$site-red2: #c3333c;

/*----- Includes ----- */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*----- Beginning my styles -----*/

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
html, body {
	height: 100%;
}
body {
	background-color: $dark-color;
	color: #ccc;
	font-family: 'Montserrat', sans-serif;
	padding-top: 100px;
	margin: 0 auto;
	width: 800px;
	font-size: 16px;
}
a:link,a:hover,a:active,a:visited {
	color: $site-blue;
	text-decoration: none;
}
a:hover {
	color: $site-red;
	text-decoration: underline;
}
header {
	margin-bottom: 3em;
}
.logo {
	width: 400px;
	font-size: 1.5em;
	color: $site-red;
}
.sidebar {
	width: 20%;
	float: left;
	padding-right: 2em;
}
nav {
	font-size: 24px;
	li {
		margin-bottom: .5em;
		position: relative;
		&:after::hover {
			content: "-";
			right: 0;
			top: 0;
		}
	}
}

.content {
	width: 70%;
	height: 100%;
	float: left;
	border-left: 1px solid #444;
}
.page-header {
	width: 100%;
}
.page-content {
	padding: 0 2em;
}
.line-break {
	margin-bottom: 2em;
}
footer {
	clear: both;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	color: $site-blue;
	text-align: center;
}
blockquote {
	font-style: italic;
}
p {
	margin: 1em 0;
}

figcaption {
	text-align: left;
	padding-top: 5px;
	color: #ccc;
	font-style: italic;
}