// Place all the styles related to the sitemap controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sitemap {
	position: relative;
	margin-top: 2em;
	a {
		position: relative;
		left: -50%;
	}
	&:hover ~ .circle {
		background-color: red;
	}
}
.circle {
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: #00aeef;
}
.line {
	width: 70px;
	height: 1px;
	background-color: #444;
	position: absolute;
	&.one {
		left: 184px;
		top: 67px;
		transform:rotate(-58deg);
	}
	&.two {
		right: 180px;
		top: 67px;
		transform:rotate(52deg);
	}
}

.welcome-top {
	position: absolute;
	left: 50%;
	top: 0;
	.circle {
		position: relative;
		margin: .25em auto;
		left: -50%;
	}
}
.sitemap-left {
	position: absolute;
	left: 190px;
	top: 100px;
	.circle {
		margin-bottom: 10px;
	}
}
.sitemap-right {
	position: absolute;
	left: 300px;
	top: 100px;
	.circle {
		margin-bottom: 10px;
	}
}
