<header>
<%= image_tag("logo.svg", :alt => "site logo", :class => "logo") %>
</header>
<div class="sidebar">

<!-- 	<figure>
		<img src="http://upload.wikimedia.org/wikipedia/en/a/ab/M_poster.jpg" alt="" class="welcomimage">
		<figcaption>This is my Description of an image</figcaption>
	</figure> -->
<nav>
	<ul>
		<li><%= link_to("Welcome", "/welcome/index" ) %></li>
		<li><%= link_to("About Me", "/about/index" ) %></li>
		<li><%= link_to("Site Map", "/sitemap/index" ) %></li>
	</ul>
</nav>
</div>